<!-- begin add owner model -->
<div class="modal fade " id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Добавить</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label for="fio" class="font-weight-bold">ФИО:</label>

                            <input type="text" name="" id="fio" placeholder="Введите имя" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="phone" class="font-weight-bold">Номер телефона:</label>
                            <input type="text" name="" id="phone" placeholder="Введите номер телефона"
                                class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="pinfl" class="font-weight-bold">ПИНФЛ:</label>
                            <input type="text" name="" id="pinfl" placeholder="Введите ПИНФЛ" class="form-control" value="">
                           
                        </div>
                    </div>
                   <div class="row mt-2">
                        <div class="col-12">
                            <label for="address" class="font-weight-bold">Адрес:</label>
                            <textarea name="" id="address" cols="50" rows="3" class="form-control"
                                placeholder="Введите адрес"></textarea>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-plus-circle fa-lg"></i>
                    Добавить
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Назад</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model -->