<!-- begin add owner model -->
<div class="modal fade " id="viewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Просмотр владельца</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                    <table class="table table-striped">
                        <tr>
                            <th>ФИО:</th>
                            <td>Олег Степанов</td>
                        </tr>
                        <tr>
                            <th>Номер телефона:</th>
                            <td>+998 97 777 33 33</td>
                        </tr>
                        <tr>
                            <th>ПИНФЛ:</th>
                            <td>30101800050014</td>
                        </tr>
                        <tr>
                            <th>Адрес:</th>
                            <td>Квартира 14/23 улица Зиёлилар Мирзо Улугбекский район город Ташкент</td>
                        </tr>
                    </table>
                    
                        
                   
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Закрыть</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model -->