<!-- begin add owner model -->
<div class="modal fade " id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Редактировать</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label for="fio" class="font-weight-bold">Полное наименование организации:</label>
                            <input type="text" name="" id="fio" value="Кибера"
                                class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="phone" class="font-weight-bold">Руководитель организации:</label>
                            <input type="text" name="" id="phone" value="Шухрат Каримов"
                                class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="pinfl" class="font-weight-bold">Адрес электронной почты:</label>
                            <input type="text" name="" id="pinfl" value="shuxratkarimov@mail.ru"
                                class="form-control" value="">

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <label for="fio" class="font-weight-bold">Номер телефона:</label>
                            <input type="text" name="" id="fio" placeholder="Введите номер телефона"
                                class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="phone" class="font-weight-bold">Банковские реквизиты:</label>
                            <input type="text" name="" id="phone" placeholder="Введите Банковские реквизиты"
                                class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="pinfl" class="font-weight-bold">ИНН</label>
                            <input type="text" name="" id="pinfl" value="595887154" class="form-control"
                                value="">

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <label for="fio" class="font-weight-bold">Юридический адрес:</label>
                            <input type="text" name="" id="fio" placeholder="Введите юридический адрес"
                                class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="phone" class="font-weight-bold">Oрганизационно-правовая форма:</label>
                            <input type="file" name="" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="pinfl" class="font-weight-bold">Cистема обозначений органов</label>
                            <input type="text" name="" id="pinfl" placeholder="Cистема обозначений органов"
                                class="form-control" value="">

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <label for="fio" class="font-weight-bold">Cостояние активности:</label>
                            <input type="text" name="" id="fio" placeholder="Cостояние активности" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="phone" class="font-weight-bold">Принадлежность:</label>
                            <input type="file" name="" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="pinfl" class="font-weight-bold">Cистема обозначений органов</label>
                            <input type="text" name="" id="pinfl" placeholder="Cистема обозначений органов"
                                class="form-control" value="">

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-4">
                            <label for="fio" class="font-weight-bold">Дата гос.регистрации:</label>
                            <input type="date" name="" id="fio" placeholder="дата гос.регистрации" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="phone" class="font-weight-bold">Номер гос.регистрации:</label>
                            <input type="text" name="" id="phone" placeholder="Введите номер гос.регистрации"
                                class="form-control">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="address" class="font-weight-bold">Адрес:</label>
                            <textarea name="" id="address" cols="80" rows="2" class="form-control"
                                placeholder="Введите адрес">Квартира 14/23 улица Зиёлилар Мирзо Улугбекский район город Ташкент</textarea>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check fa-lg"></i>
                    Cохранить
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Закрыть</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model -->