<!-- begin add owner model -->
<div class="modal fade " id="viewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Просмотр</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>Полное наименование организации::</th>
                        <td>Кибера</td>
                    </tr>
                    <tr>
                        <th>Руководитель организации:</th>
                        <td>Шухрат Каримов</td>
                    </tr>
                    <tr>
                        <th>Адрес электронной почты:</th>
                        <td>shuxratkarimov@mail.ru</td>
                    </tr>
                    <tr>
                        <th>Номер телефона:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Банковские реквизиты:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>ИНН:</th>
                        <td>595887154</td>
                    </tr>
                    <tr>
                        <th>Юридический адрес:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Oрганизационно-правовая форма:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Cистема обозначений органов:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Cостояние активности:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Принадлежность:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Cистема обозначений органов:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Дата гос.регистрации:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Номер гос.регистрации:</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Адрес:</th>
                        <td>Квартира 14/23 улица Зиёлилар Мирзо Улугбекский район город Ташкент</td>
                    </tr>
                </table>




            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Закрыть</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model --><!-- begin add owner model -->
<div class="modal fade " id="viewModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Просмотр владельца</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-1">
                        <h5>ФИО:</h5>
                    </div>
                    <div class="col-2">
                        <p>Олег Степанов</p>
                    </div>

                    <div class="col-3">
                        <h5>Номер телефона:</h5>

                    </div>
                    <div class="col-2">
                        <p>+998 97 777 33 33</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1">
                        <h5>ПИНФЛ:</h5>

                    </div>
                    <div class="col-2">
                        <p>30101800050014</p>
                    </div>
                    <div class="col-3">
                        <h5>Адрес:</h5>

                    </div>
                    <div class="col-4">
                        <p>Квартира 14/23 улица Зиёлилар Мирзо Улугбекский район город Ташкент</p>
                    </div>



                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Назад</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model -->