<!-- begin add owner model -->
<div class="modal fade " id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Добавить</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <label for="pinfl" class="font-weight-bold">название категории:</label>
                            <input type="text" name="" id="" class="form-control" placeholder="название категории ">
                        </div>

                        <div class="col-6">
                            <label for="phone" class="font-weight-bold">код категории:</label>
                            <input type="text" name="" id="" class="form-control" placeholder="код категории ">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-plus-circle fa-lg"></i>
                    Добавить
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Закрыть</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model -->