{% extends 'base_site.html'%}

{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block stylesheets %}
{{block.super}}

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css"> -->
<link rel="stylesheet" href=" {% static 'css\datatables\datatables.checkboxes.css' %}">
<link rel="stylesheet" href=" {% static 'css\mine.css' %}">
<link href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />


<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock stylesheets %}

{% block content%}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="{% url 'index'%}">Дома</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Владельцы</a></li>
        <li class="breadcrumb-item active"><a href="#">Юридическое лицо</a></li>

    </ol> -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Справочник цветов животных</h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <div class="col-xl-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Поиск</h4>
                    <div class="panel-heading-btn">

                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                            data-click="panel-collapse"><i class="fa fa-plus"></i></a>

                    </div>
                </div>

                <div class="panel-body " style="display:none">
                    <!-- email -->
                    <div class="row ">
                        <div class="col-4">

                            <input type="text" name="" id="" class="form-control" placeholder="название цвета ">
                        </div>
                        <div class="col-4">

                            <input type="text" name="" id="" class="form-control" placeholder="код категории ">
                        </div>


                        <div class="col-4">
                            <button class="btn btn-info"> <i class="fas fa-search"></i> Поиск</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <!-- begin col-2 -->

        <!-- end col-2 -->
        <!-- begin col-10 -->
        <div class="col-xl-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">Список</h4>
                    <a href="javascript:;" class="btn btn-xs btn-info mr-2" data-toggle="modal" data-target="#addModal">
                        <i class="fas fa-plus-circle"></i> Добавить</a>
                    <!-- The Modal -->
                    <a href="javascript:;" class="btn btn-xs btn-primary mr-2"> <i class="fas fa-filter"></i>
                        Сортировать</a>
                    <a href="javascript:;" class="btn btn-xs btn-success mr-2"> <i class="fas fa-arrow-circle-up"></i>
                        Экспорт</a>
                    <a href="javascript:;" class="btn btn-xs btn-danger mr-5"> <i class="fas fa-arrow-circle-down"></i>
                        Импорт</a>
                    <div class="panel-heading-btn">

                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                            data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                            data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                            data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                            data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <!-- end panel-heading -->

                {% include "vaccination/spravochnik_svetov/add.html" %}
                {% include "vaccination/spravochnik_svetov/edit.html" %}
                {% include "vaccination/spravochnik_svetov/view.html" %}
                {% include "vaccination/spravochnik_svetov/delete.html" %}

                <!-- begin alert -->

                <!-- end alert -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <table id="example" class="table table-striped table-bordered table-td-valign-middle">
                        <thead>
                            <tr>
                                <th width="1%" data-orderable="false" class="text-center" id="remove_class"><input
                                        type="checkbox" name="" id="checkall"></th>
                                <th width="1%"></th>
                                <th width="1%" data-orderable="false"></th>
                                <th width="15%" class="text-nowrap text-center">название цвета</th>
                                <th width="15%" class="text-nowrap text-center">код категории</th>

                                <th width="10" class="text-nowrap">Действия</th>
                            </tr>
                        </thead>
                        <thead>
                            <th></th>
                            <th></th>
                            <th></th>

                            <th>
                                <input type="text" name="" id="" class="form-control" placeholder="название цвета ">
                            </th>
                            <th>
                                <input type="text" name="" id="" class="form-control" placeholder="код категории">

                            </th>
                            <th></th>

                        </thead>
                        <tbody>
                            <tr class="even gradeX">

                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">1</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}"
                                        class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal"
                                        data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal"
                                        data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal"
                                        data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="even gradeX">
                            
                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">2</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}" class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal" data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="even gradeX">
                            
                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">3</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}" class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal" data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="even gradeX">
                            
                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">4</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}" class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal" data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="even gradeX">
                            
                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">5</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}" class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal" data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="even gradeX">
                            
                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">6</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}" class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal" data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                                
                            </tr>
                            <tr class="even gradeX">
                            
                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">7</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}" class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal" data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="even gradeX">
                            
                                <td width="1%" class="text-center"><input type="checkbox" name="" class="checkone"></td>
                                <td width="1%" class="f-s-600 text-inverse">8</td>
                                <td width="1%" class="with-img"><img src="{% static 'img/user/user-3.jpg' %}" class="img-rounded height-30" /></td>
                                <td width="15%">желтый</td>
                                <td width="15%">1</td>
                                <td width="10%" class="text-center">
                                    <a class="btn btn-xs btn-info" href="#" data-toggle="modal" data-target="#viewModal">
                                        <i class="fas fa-eye fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-warning" href="#" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="#" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>



        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super}}

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/table-manage-responsive.demo.js ' %}"></script>
<script src="{% static 'js/datatables/datatables.checkboxes.js ' %}"></script>
<script src="{% static 'js/mine.js ' %}"></script>
<!-- <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script> -->
<script>

</script>

<!-- ================== END PAGE LEVEL JS ================== -->
{% endblock javascripts %}