{% extends 'base_site.html'%}

{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block stylesheets %}
{{block.super}}
<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />


<!-- ================== END PAGE LEVEL STYLE ================== -->
{% endblock stylesheets %}

{% block content%}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- <ol class="breadcrumb float-xl-right">
        <li class="breadcrumb-item"><a href="{% url 'index'%}">Дома</a></li>
        <li class="breadcrumb-item"><a href="javascript:;">Владельцы</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'owners:physical_person' %}">Физическое лицо</a></li>

    </ol> -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Отчетность</h1>
    <!-- end page-header -->
    <!-- begin row -->
    
    <!-- end row -->
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super}}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/demo/table-manage-responsive.demo.js ' %}"></script>



<!-- ================== END PAGE LEVEL JS ================== -->
{% endblock javascripts %}