<!-- begin add owner model -->
<div class="modal fade " id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Добавить</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" class="form-group">
                    <div class="row">
                        <div class="col-3">
                            <label for="pinfl" class="font-weight-bold">код вакцины:</label>
                            <th><select name="" id=" " class="form-control">
                                    <option value="">Введите код вакцины</option>
                                    <option value="">1525</option>
                                    <option value="">2232</option>
                                    <option value="">3232</option>
                                    <option value="">4322</option>
                                </select></th>
                        </div>
                       
                        <div class="col-3">
                            <label for="phone" class="font-weight-bold">код области:</label>
                            <select name="" id=" " class="form-control">
                                <option value="">Введите код области</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label for="fio" class="font-weight-bold">количество вакцины</label>
                            <input type="text" name="" id="fio" placeholder="Введите количество вакцины" class="form-control">
                        </div>
                        <div class="col-3">
                            <label for="fio" class="font-weight-bold">срок использования</label>
                            <input type="date" class="form-control" name="" id="" data-toggle="tooltip" data-placement="bottom"
                                data-original-title="срок использования">
                        </div>
                    </div>




                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-plus-circle fa-lg"></i>
                    Добавить
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Закрыть</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model -->