<!-- begin add owner model -->
<div class="modal fade " id="addModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Добавить</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="" class="form-group">
                    <div class="row">
                        <div class="col-4">
                            <label for="pinfl" class="font-weight-bold">код животных:</label>
                            <th><select name="" id=" " class="form-control">
                                    <option value="">Выбрать код животных</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                </select></th>
                        </div>

                        <div class="col-4">
                            <label for="phone" class="font-weight-bold">код категории животных:</label>
                            <select name="" id=" " class="form-control">
                                <option value="">Выбрать код категории животных</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                        <div class="col-4 font-weight-bold">
                            <label for="">цвет животного:</label>
                            <input type="text" name="" id="" placeholder="цвет животного" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label for="phone" class="font-weight-bold">код владельца</label>
                            <select name="" id=" " class="form-control">
                                <option value="">Выбрать код владельца</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="phone" class="font-weight-bold">код владельца</label>
                            <select name="" id=" " class="form-control">
                                <option value="">код регистрирующего участкового врача</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label for="fio" class="font-weight-bold">год и месяц рождения животного</label>
                            <input type="date" name="" id="" class="form-control" data-placement="bottom"
                                data-toggle="tooltip" data-original-title="год и месяц рождения животного">
                        </div>
                        <div class="col-6">
                            <label for="fio" class="font-weight-bold">дата регистрации</label>
                            <input type="date" name="" id="" class="form-control" data-placement="bottom"
                                data-toggle="tooltip" data-original-title="дата регистрации">
                        </div>
                    </div>



                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-plus-circle fa-lg"></i>
                    Добавить
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-arrow-circle-left"></i>
                    Закрыть</button>
            </div>

        </div>
    </div>
</div>
<!-- end add owner model -->