{% load static %}
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->
        <ul class="nav mt-2">
            {% with request.resolver_match.url_name as url_name %}
            <li class="{% if url_name == 'index'  %}active{% endif %}"><a href="{% url 'index'%}"><i class="fa fa-th-large"></i> <span>Рабочий стол</span></a></li>
            
            
            <li  class=" has-sub {% if url_name == 'report_owners' or  url_name == 'physical_person' or url_name == 'juridic_person'  %}active{% endif %}">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-users"></i>
                    <span>Владельцы</span>
                </a>
                <ul class="sub-menu">
                    <li class="{% if  url_name == 'physical_person'  %}active{% endif %}"><a href="{% url 'owners:physical_person' %}">Физическое лицо</a></li>
                    <li class="{% if  url_name == 'juridic_person'  %}active{% endif %}"><a href="{% url 'owners:juridic_person' %}">Юридическое лицо</a></li>
                    <li class="{% if  url_name == 'report_owners'  %}active{% endif %}"><a href="{% url 'owners:report_owners' %}">Отчетность</a></li>
                </ul>
            </li>
           
            <li class=" has-sub {% if url_name == 'arrival' or  url_name == 'handbook' or url_name == 'distribution' or url_name == 'consumption_rate' or url_name == 'report_vaccines'  %}active{% endif %}">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-syringe"></i>
                    <span>Вакцины</span>
                </a>
                    <ul class="sub-menu">
                        <li class="{% if  url_name == 'arrival'  %}active{% endif %}">
                            <a href="{% url 'vaccines:arrival' %}">Приход вакцины</a>
                        </li>
                        <li class="{% if  url_name == 'handbook'  %}active{% endif %}">
                            <a href="{% url 'vaccines:handbook' %}">Справочник вакцин</a>
                        </li>
                        <li class="{% if  url_name == 'distribution'  %}active{% endif %}">
                            <a href="{% url 'vaccines:distribution' %}">Распределение вакцины</a>
                        </li>
                        <li class="{% if  url_name == 'consumption_rate'  %}active{% endif %}">
                            <a href="{% url 'vaccines:consumption_rate' %}">Норма расхода вакцины</a>
                        </li>
                        <li class="{% if  url_name == 'report_vaccines'  %}active{% endif %}">
                            <a href="{% url 'vaccines:report_vaccines' %}">Отчетность</a>
                        </li>
                    </ul>
                
            </li>
            <li class="has-sub {% if url_name == 'registration_animals' or  url_name == 'spravochnik_kategoriya' or url_name == 'spravichnok_svetov' or url_name == 'schemes' or url_name == 'registration_vaccines'  or url_name == 'report_vaccination' %}active{% endif %}">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-book-medical"></i>
                    <span>Вакцинация</span>
                </a>
                    <ul class="sub-menu">
                        <li class="{% if  url_name == 'registration_animals'  %}active{% endif %}">
                            <a href="{% url 'vaccination:registration_animals' %}">Регистрация животных</a>
                        </li>
                        <li class="{% if  url_name == 'spravochnik_kategoriya'  %}active{% endif %}">
                            <a href="{% url 'vaccination:spravochnik_kategoriya' %}">Справочник категорий животных</a>
                        </li>
                        <li class="{% if  url_name == 'spravichnok_svetov'  %}active{% endif %}">
                            <a href="{% url 'vaccination:spravichnok_svetov' %}">Справочник цветов животных</a>
                        </li>
                        <li class="{% if  url_name == 'schemes'  %}active{% endif %}">
                            <a href="{% url 'vaccination:schemes' %}">Схемы вакцинации</a>
                        </li>
                        <li class="{% if  url_name == 'registration_vaccines'  %}active{% endif %}">
                            <a href="{% url 'vaccination:registration_vaccines' %}">Регистрация вакцинации</a>
                        </li>
                        <li class="{% if  url_name == 'report_vaccination'  %}active{% endif %}">
                            <a href="{% url 'vaccination:report_vaccination' %}">Отчетность</a>
                        </li>
                    </ul>
               
            </li>
            <li class="has-sub {% if url_name == 'registration_vaccinated_animals' or  url_name == 'test_results' or url_name == 'recommendations' or url_name == 'report_diagnostics'  %}active{% endif %}">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-stethoscope"></i>
                    <span>Диагностика</span>
                </a>
                    <ul class="sub-menu">
                        <li class="{% if  url_name == 'registration_vaccinated_animals'  %}active{% endif %}">
                            <a href="{% url 'diagnostics:registration_vaccinated_animals' %}">Регистрация осмотра вакцинированных животных</a>
                        </li>
                        <li class="{% if  url_name == 'test_results'  %}active{% endif %}">
                            <a href="{% url 'diagnostics:test_results' %}">Результаты лабораторных анализов</a>
                        </li>
                        <li class="{% if  url_name == 'recommendations'  %}active{% endif %}">
                            <a href="{% url 'diagnostics:recommendations' %}">Рекомендации и оповещения угрозы</a>
                        </li>
                        <li class="{% if  url_name == 'report_diagnostics'  %}active{% endif %}">
                            <a href="{% url 'diagnostics:report_diagnostics' %}">Отчетность</a>
                        </li>
                    </ul>
                
            </li>
            <li class="has-sub {% if url_name == 'settings_support' or  url_name == 'report_interactions' %}active{% endif %}"">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-sync-alt"></i>
                    <span>Межведомственное взаимодействие</span>
                </a>
                    <ul class="sub-menu">
                        <li class="{% if  url_name == 'settings_support'  %}active{% endif %}">
                            <a href="{% url 'interactions:settings_support' %}">Настройки и поддержки</a>
                        </li>
                        <li class="{% if  url_name == 'report_interactions'  %}active{% endif %}">
                            <a href="{% url 'interactions:report_interactions' %}">Отчетность</a>
                        </li>
                    </ul>
               
            </li>
            
            <li class="{% if  url_name == 'monitoring'  %}active{% endif %}">
                <a href="{% url 'monitoring:monitoring' %}">
                    <i class="fas fa-tv"></i>
                    <span>Отчетность и мониторинг</span>
                </a>
            </li>
            <li class="has-sub {% if url_name == 'internal_directories' or  url_name == 'external_directories' or url_name == 'report_services'  %}active{% endif %}">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-info"></i>
                    <span>Информационные услуги</span>
                </a>
                    <ul class="sub-menu">
                        <li class="{% if  url_name == 'internal_directories'  %}active{% endif %}">
                            <a href="{% url 'information_services:internal_directories' %}">Внутренние справочники</a>
                        </li>
                        <li class="{% if  url_name == 'external_directories'  %}active{% endif %}">
                            <a href="{% url 'information_services:external_directories' %}">Внешние справочники</a>
                        </li>
                        <li class="{% if  url_name == 'report_services'  %}active{% endif %}">
                            <a href="{% url 'information_services:report_services' %}">Отчетность</a>
                        </li>
                    </ul>
               
            </li>
            <li class="has-sub  {% if url_name == 'security_policy' or  url_name == 'access_control' or url_name == 'authentication' or url_name == 'report_security'  %}active{% endif %}">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-shield-alt"></i>
                    <span>Безопасность и защита информации</span>
                </a>
                    <ul class="sub-menu">
                        <li  class="{% if  url_name == 'security_policy'  %}active{% endif %}">
                            <a href="{% url 'security:security_policy' %}">Управление политикой безопасности</a>
                        </li>
                        <li  class="{% if  url_name == 'access_control'  %}active{% endif %}">
                            <a href="{% url 'security:access_control' %}">Управление доступом</a>
                        </li>
                        <li  class="{% if  url_name == 'authentication'  %}active{% endif %}">
                            <a href="{% url 'security:authentication' %}">Аутентификация</a>
                        </li>
                        <li  class="{% if  url_name == 'report_security'  %}active{% endif %}">
                            <a href="{% url 'security:report_security' %}">Отчетность</a>
                        </li>
                    </ul>
                
            </li>
            <li class="has-sub {% if url_name == 'user_adminstration' or  url_name == 'user_rights' or url_name == 'audit' or url_name == 'archive_restore' or url_name == 'report_adminstration'  %}active{% endif %}"">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fas fa-user-shield"></i>
                    <span>Администрирование системы</span>
                </a>
                    <ul class="sub-menu">
                        <li class="{% if  url_name == 'user_adminstration'  %}active{% endif %}">
                            <a href="{% url 'adminstration_system:user_adminstration' %}">Администрирование пользователей</a>
                        </li>
                        <li class="{% if  url_name == 'user_rights'  %}active{% endif %}">
                            <a href="{% url 'adminstration_system:user_rights' %}">Настройка прав полномочий пользователей</a>
                        </li>
                        <li class="{% if  url_name == 'audit'  %}active{% endif %}">
                            <a href="{% url 'adminstration_system:audit' %}">Аудит</a>
                        </li>
                        <li class="{% if  url_name == 'archive_restore'  %}active{% endif %}">
                            <a href="{% url 'adminstration_system:archive_restore' %}">Архивация и восстановление БД</a>
                        </li>
                        <li class="{% if  url_name == 'report_adminstration'  %}active{% endif %}">
                            <a href="{% url 'adminstration_system:report_adminstration' %}">Отчетность</a>
                        </li>
                    </ul>
                
            </li>

            {% endwith %}






            <!-- <li class="nav-header mt-5">Navigation</li>
            <li class="has-sub active">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-th-large"></i>
                    <span>Dashboard</span>
                </a>
                <ul class="sub-menu">
                    <li class="active"><a href="index.html">Dashboard v1</a></li>
                    <li><a href="index_v2.html">Dashboard v2</a></li>
                    <li><a href="index_v3.html">Dashboard v3</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <span class="badge pull-right">10</span>
                    <i class="fa fa-hdd"></i>
                    <span>Email</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="email_inbox.html">Inbox</a></li>
                    <li><a href="email_compose.html">Compose</a></li>
                    <li><a href="email_detail.html">Detail</a></li>
                </ul>
            </li>
            <li>
                <a href="widget.html">
                    <i class="fab fa-simplybuilt"></i>
                    <span>Widgets <span class="label label-theme">NEW</span></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-gem"></i>
                    <span>UI Elements <span class="label label-theme">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="ui_general.html">General <i class="fa fa-paper-plane text-theme"></i></a></li>
                    <li><a href="ui_typography.html">Typography</a></li>
                    <li><a href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
                    <li><a href="ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>
                    <li><a href="ui_modal_notification.html">Modal & Notification <i
                                class="fa fa-paper-plane text-theme"></i></a></li>
                    <li><a href="ui_widget_boxes.html">Widget Boxes</a></li>
                    <li><a href="ui_media_object.html">Media Object</a></li>
                    <li><a href="ui_buttons.html">Buttons <i class="fa fa-paper-plane text-theme"></i></a></li>
                    <li><a href="ui_icons.html">Icons</a></li>
                    <li><a href="ui_simple_line_icons.html">Simple Line Icons</a></li>
                    <li><a href="ui_ionicons.html">Ionicons</a></li>
                    <li><a href="ui_tree.html">Tree View</a></li>
                    <li><a href="ui_language_bar_icon.html">Language Bar & Icon</a></li>
                    <li><a href="ui_social_buttons.html">Social Buttons</a></li>
                    <li><a href="ui_tour.html">Intro JS</a></li>
                </ul>
            </li>
            <li>
                <a href="bootstrap_4.html">
                    <div class="icon-img">
                        <img src="{% static 'img/logo/logo-bs4.png' %}" alt="" />
                    </div>
                    <span>Bootstrap 4 <span class="label label-theme">NEW</span></span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-list-ol"></i>
                    <span>Form Stuff <span class="label label-theme">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="form_elements.html">Form Elements <i class="fa fa-paper-plane text-theme"></i></a></li>
                    <li><a href="form_plugins.html">Form Plugins <i class="fa fa-paper-plane text-theme"></i></a></li>
                    <li><a href="form_slider_switcher.html">Form Slider + Switcher</a></li>
                    <li><a href="form_validation.html">Form Validation</a></li>
                    <li><a href="form_wizards.html">Wizards</a></li>
                    <li><a href="form_wizards_validation.html">Wizards + Validation</a></li>
                    <li><a href="form_wysiwyg.html">WYSIWYG</a></li>
                    <li><a href="form_editable.html">X-Editable</a></li>
                    <li><a href="form_multiple_upload.html">Multiple File Upload</a></li>
                    <li><a href="form_summernote.html">Summernote</a></li>
                    <li><a href="form_dropzone.html">Dropzone</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-table"></i>
                    <span>Tables</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="table_basic.html">Basic Tables</a></li>
                    <li class="has-sub">
                        <a href="javascript:;"><b class="caret"></b> Managed Tables</a>
                        <ul class="sub-menu">
                            <li><a href="table_manage.html">Default</a></li>
                            <li><a href="table_manage_autofill.html">Autofill</a></li>
                            <li><a href="table_manage_buttons.html">Buttons</a></li>
                            <li><a href="table_manage_colreorder.html">ColReorder</a></li>
                            <li><a href="table_manage_fixed_columns.html">Fixed Column</a></li>
                            <li><a href="table_manage_fixed_header.html">Fixed Header</a></li>
                            <li><a href="table_manage_keytable.html">KeyTable</a></li>
                            <li><a href="table_manage_responsive.html">Responsive</a></li>
                            <li><a href="table_manage_rowreorder.html">RowReorder</a></li>
                            <li><a href="table_manage_scroller.html">Scroller</a></li>
                            <li><a href="table_manage_select.html">Select</a></li>
                            <li><a href="table_manage_combine.html">Extension Combination</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-star"></i>
                    <span>Front End</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="../../../frontend/template/template_one_page_parallax/index.html" target="_blank">One
                            Page Parallax</a></li>
                    <li><a href="../../../frontend/template/template_blog/index.html" target="_blank">Blog</a></li>
                    <li><a href="../../../frontend/template/template_forum/index.html" target="_blank">Forum</a></li>
                    <li><a href="../../../frontend/template/template_e_commerce/index.html"
                            target="_blank">E-Commerce</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-envelope"></i>
                    <span>Email Template</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="email_system.html">System Template</a></li>
                    <li><a href="email_newsletter.html">Newsletter Template</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-chart-pie"></i>
                    <span>Chart <span class="label label-theme">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="chart-flot.html">Flot Chart</a></li>
                    <li><a href="chart-morris.html">Morris Chart</a></li>
                    <li><a href="chart-js.html">Chart JS</a></li>
                    <li><a href="chart-d3.html">d3 Chart</a></li>
                    <li><a href="chart-apex.html">Apex Chart <i class="fa fa-paper-plane text-theme"></i></a></li>
                </ul>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-map"></i>
                    <span>Map</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="map_vector.html">Vector Map</a></li>
                    <li><a href="map_google.html">Google Map</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-image"></i>
                    <span>Gallery</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="gallery.html">Gallery v1</a></li>
                    <li><a href="gallery_v2.html">Gallery v2</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-cogs"></i>
                    <span>Page Options <span class="label label-theme">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="page_blank.html">Blank Page</a></li>
                    <li><a href="page_with_footer.html">Page with Footer</a></li>
                    <li><a href="page_without_sidebar.html">Page without Sidebar</a></li>
                    <li><a href="page_with_right_sidebar.html">Page with Right Sidebar</a></li>
                    <li><a href="page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>
                    <li><a href="page_with_two_sidebar.html">Page with Two Sidebar</a></li>
                    <li><a href="page_with_line_icons.html">Page with Line Icons</a></li>
                    <li><a href="page_with_ionicons.html">Page with Ionicons</a></li>
                    <li><a href="page_full_height.html">Full Height Content</a></li>
                    <li><a href="page_with_wide_sidebar.html">Page with Wide Sidebar</a></li>
                    <li><a href="page_with_light_sidebar.html">Page with Light Sidebar</a></li>
                    <li><a href="page_with_mega_menu.html">Page with Mega Menu</a></li>
                    <li><a href="page_with_top_menu.html">Page with Top Menu</a></li>
                    <li><a href="page_with_boxed_layout.html">Page with Boxed Layout</a></li>
                    <li><a href="page_with_mixed_menu.html">Page with Mixed Menu</a></li>
                    <li><a href="page_boxed_layout_with_mixed_menu.html">Boxed Layout with Mixed Menu</a></li>
                    <li><a href="page_with_transparent_sidebar.html">Page with Transparent Sidebar</a></li>
                    <li><a href="page_with_search_sidebar.html">Page with Search Sidebar <i
                                class="fa fa-paper-plane text-theme"></i></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-gift"></i>
                    <span>Extra <span class="label label-theme">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="extra_timeline.html">Timeline</a></li>
                    <li><a href="extra_coming_soon.html">Coming Soon Page</a></li>
                    <li><a href="extra_search_results.html">Search Results</a></li>
                    <li><a href="extra_invoice.html">Invoice</a></li>
                    <li><a href="extra_404_error.html">404 Error Page</a></li>
                    <li><a href="extra_profile.html">Profile Page</a></li>
                    <li><a href="extra_scrum_board.html">Scrum Board <i class="fa fa-paper-plane text-theme"></i></a>
                    </li>
                    <li><a href="extra_cookie_acceptance_banner.html">Cookie Acceptance Banner <i
                                class="fa fa-paper-plane text-theme"></i></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-key"></i>
                    <span>Login & Register</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="login.html">Login</a></li>
                    <li><a href="login_v2.html">Login v2</a></li>
                    <li><a href="login_v3.html">Login v3</a></li>
                    <li><a href="register_v3.html">Register v3</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-cubes"></i>
                    <span>Version <span class="label label-theme">NEW</span></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="../template_html/index_v3.html">HTML</a></li>
                    <li><a href="../template_ajax/">AJAX</a></li>
                    <li><a href="../template_angularjs/">ANGULAR JS</a></li>
                    <li><a href="../template_angularjs8/">ANGULAR JS 8</a></li>
                    <li><a href="../template_laravel/">LARAVEL</a></li>
                    <li><a href="../template_vuejs/">VUE JS</a></li>
                    <li><a href="../template_reactjs/">REACT JS</a></li>
                    <li><a href="../template_material/index_v3.html">MATERIAL DESIGN</a></li>
                    <li><a href="../template_apple/index_v3.html">APPLE DESIGN</a></li>
                    <li><a href="../template_transparent/index_v3.html">TRANSPARENT DESIGN <i
                                class="fa fa-paper-plane text-theme"></i></a></li>
                    <li><a href="../template_facebook/index_v3.html">FACEBOOK DESIGN <i
                                class="fa fa-paper-plane text-theme"></i></a></li>
                    <li><a href="../template_google/index_v3.html">GOOGLE DESIGN <i
                                class="fa fa-paper-plane text-theme"></i></a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-medkit"></i>
                    <span>Helper</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="helper_css.html">Predefined CSS Classes</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fa fa-align-left"></i>
                    <span>Menu Level</span>
                </a>
                <ul class="sub-menu">
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret"></b>
                            Menu 1.1
                        </a>
                        <ul class="sub-menu">
                            <li class="has-sub">
                                <a href="javascript:;">
                                    <b class="caret"></b>
                                    Menu 2.1
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:;">Menu 3.1</a></li>
                                    <li><a href="javascript:;">Menu 3.2</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Menu 2.2</a></li>
                            <li><a href="javascript:;">Menu 2.3</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;">Menu 1.2</a></li>
                    <li><a href="javascript:;">Menu 1.3</a></li>
                </ul>
            </li> -->
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
                        class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->